PUBLIC_SITE_URL=https://ruang-catatan.pages.dev
PUBLIC_GISCUS_REPO=nuuwbiie/personal-blog
PUBLIC_GISCUS_REPO_ID=R_kgDOUR3f_A
PUBLIC_GISCUS_CATEGORY=Komentar Blog
PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOUR3f_M4DFIZG
